<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search" (ionChange)="filterStudents()"></ion-searchbar>
  
  <ion-grid>
    <ion-row>
      <ion-col class="color1">Control Number</ion-col>
      <ion-col class="color1">Name</ion-col>
      <ion-col class="color1">Career</ion-col>
      <ion-col class="color1">Actions</ion-col>
    </ion-row>
    <ion-row *ngFor="let s of filteredStudents; let i = index">
      <ion-col class="color2">{{s.controlNumber}}</ion-col>
      <ion-col class="color2">{{s.name}}</ion-col>
      <ion-col class="color2">{{s.career}}</ion-col>
      <ion-col class="color2">
        <ion-button (click)="openUpdateModal(i,s)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteStudent(i)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
